venv/
venv/pyvenv.cfg
venv/bin/activate
venv/bin/activate.csh
venv/bin/activate.fish
venv/bin/Activate.ps1
venv/bin/pip
venv/bin/pip3
venv/bin/pip3.12
venv/bin/python
venv/bin/python3
venv/bin/python3.12
venv/lib/python3.12/site-packages/pip/__init__.py
venv/lib/python3.12/site-packages/pip/__main__.py
venv/lib/python3.12/site-packages/pip/__pip-runner__.py
venv/lib/python3.12/site-packages/pip/py.typed
venv/lib/python3.12/site-packages/pip/__pycache__/__init__.cpython-312.pyc
venv/lib/python3.12/site-packages/pip/__pycache__/__main__.cpython-312.pyc
venv/lib/python3.12/site-packages/pip/__pycache__/__pip-runner__.cpython-312.pyc
venv/lib/python3.12/site-packages/pip/_internal/__init__.py
venv/lib/python3.12/site-packages/pip/_internal/build_env.py
venv/lib/python3.12/site-packages/pip/_internal/cache.py
venv/lib/python3.12/site-packages/pip/_internal/configuration.py
venv/lib/python3.12/site-packages/pip/_internal/exceptions.py
venv/lib/python3.12/site-packages/pip/_internal/main.py
venv/lib/python3.12/site-packages/pip/_internal/pyproject.py
venv/lib/python3.12/site-packages/pip/_internal/self_outdated_check.py
venv/lib/python3.12/site-packages/pip/_internal/wheel_builder.py
venv/lib/python3.12/site-packages/pip/_internal/__pycache__/__init__.cpython-312.pyc
venv/lib/python3.12/site-packages/pip/_internal/__pycache__/build_env.cpython-312.pyc
venv/lib/python3.12/site-packages/pip/_internal/__pycache__/cache.cpython-312.pyc
venv/lib/python3.12/site-packages/pip/_internal/__pycache__/configuration.cpython-312.pyc
venv/lib/python3.12/site-packages/pip/_internal/__pycache__/exceptions.cpython-312.pyc
venv/lib/python3.12/site-packages/pip/_internal/__pycache__/main.cpython-312.pyc
venv/lib/python3.12/site-packages/pip/_internal/__pycache__/pyproject.cpython-312.pyc
